<!DOCTYPE html>
<html data-wf-page="6155d63bb3fc53f6027f658b" data-wf-site="6135e92e6af6232e9ad0fc25" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Test UEX</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/3dbuttons.css">
        <link rel="stylesheet" href="css/text.css">
        <link rel="stylesheet" href="css/ui.css">
    </head>
  <body class="body-2">
    <div id="fade"></div>
    <div id="UI">
        <img id="hamburger" src="icons/Menu.png"/>
        <img id="collectible" src="icons/Collectibles.png"/>
        <img id="agenda" src="icons/Agenda.png"/>
        <img id="volume" src="icons/Volume.png"/>
        <div id="selections">
            <button class="cityButton" id="Airport_button"> Aeroport </button>
            <button class="cityButton" id="Port_button"> Port </button>
            <button class="cityButton" id="Centrale_button"> Centrale </button>
        </div>
    </div>
    <div id="canvas">
        <div id="icons"></div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
    <script type="module" src="js/main.js"></script>
  </body>
</html>
