#UI {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

#hamburger {
    position: absolute;
    width : 280px;
    height: 200px;
    left: 0;
    top: 0;
}

#volume, #agenda, #collectible {
    position: absolute;
    width : 100px;
    height: 100px;
    bottom: 25px;
}

#volume {
    right: 25px;
}

#collectible {
    right: 150px;
}

#agenda {
    left: 25px;
}